/* Header Section */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.header{
    background-color: #9f8189;
    height: 100px;
    padding: 0px;
    margin: 0px;
}
.image{
    background-image: url("/image/calli.jpg");
    height: 600px;
    width: 1340px;
    background-repeat: no-repeat;
    background-size: cover;
}
 ul{
    list-style-type: none;
    float: right;
    text-decoration: none;
}
 li{
    display: inline;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}
.header img{
    height: 100px;
    width: 100px;
}
a{
    color: white;
}
/* About Us Section */
h1{
    margin: 0px;
}

.about img{
   width: 200px;
   height: 200px;
   padding: 90px 0px 0px 0px;
   margin: 20px;
   
}
.about {
   text-align: center;
   display: flex;
   padding: 40px;
   width: 100%;
   margin: 10px;
   height: 400px;
}
.about p{
   
    font-size: 25px;
    word-spacing: 15px;
    text-align: left;
    padding: 50px;
}
/* Services */
.h1{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}
.services{
    display: flex;
    height: 200px;
    width: 200px;
    padding: 70px;
}
.services img{
    margin: 0px 50px;
}
/* Products */
.products{
    display: flex;
    height: 250px;
    width: 250px;
    padding: 30px;
}
.products img{
    margin: 0px 100px;
}
/* Contact Section */
.button{
    padding: 10px;
    border: none;
}
h1,form{
    text-align: center;
   
}
/* footer */
footer{
    
    background-color: #05cc98;
     height: 50px;
     width: auto;
     color: rgba(255, 255, 255, 1.0);
     margin: auto;
     padding: 60px;
     text-align: center;
 }